[Unit]
Description=Laptop keyboard remapper

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/keyboard-remapper /dev/input/by-path/platform-i8042-serio-0-event-kbd

[Install]
WantedBy=multi-user.target
